:root {
  --button-color: #d35400;
  --button-color-hover: #c34400;
}

#header,
#footer,
html {
  background-color: #f39c12;
}

#content {
  background-color: #fdfefe;
}

.settingsButton,
.deckButton,
.footerButton {
  background-color: var(--button-color);
}

#leftArrow {
  border-color: transparent var(--button-color) transparent transparent;
}

#rightArrow {
  border-color: transparent transparent transparent var(--button-color);
}

.settingsButton:hover,
.deckButton:hover,
.footerButton:hover {
  background-color: var(--button-color-hover);
}
