*:not(#content *) {
  overflow:hidden;
}

html {
  width: 100%;
  display: flex;
  justify-content: center;
}

body {
  margin: 0 auto;
  flex-basis: 60vh;
  height: 100vh;
}

#header {
  width: 100%;
  height: 15%;
  display: flex;
  border-bottom: 2px solid black;
}

#addDeck,
#removeDeck {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  vertical-align: center;
  width: 23%;
  margin-left: 2%;
  margin-right: 2%;
}

#addDeck {
  padding-right: 2%;
  padding-left: 2%;
  border-right: 2px solid black;
}

#removeDeck {
  padding-right: 2%;
  padding-left: 2%;
  border-left: 2px solid black;
}

#header button {
  margin-top: auto;
  margin-bottom: auto;
  height: 80%;
  font-size: 0.7em;
}

#deckList {
  width: 46%;
  scroll-snap-type: x mandatory;
  overflow-x: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  align-items: center;
  gap: 7%;
}

#deckList::-webkit-scrollbar {
  /* WebKit */
  width: 0;
  height: 0;
}

.deck {
  flex-shrink: 0;
  width: 50%;
  height: 80%;
}

#content {
  height: 70%;
}

#fieldEditDeckName {
  height: 20%;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

#fieldEditDeckName > p {
  text-align: center;
  text-decoration: underline;
}

#buttonDoneEditDeckName {
  width: 10%;
  position: absolute;
  bottom: 0;
  right: 0;
}

#buttonCancelEditDeckName {
  width: 10%;
  bottom: 0;
  right: 30%;
  position: absolute;
}

#fieldCards {
  scroll-snap-type: x mandatory;
  overflow-x: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  display: flex;
  height: 80%;
}

#fieldCards::-webkit-scrollbar {
  /* WebKit */
  width: 0;
  height: 0;
}

.cardWrap {
  scroll-snap-align: start;
  min-width: 100%;
  height: 100%;
  perspective: 1000px;
}

.cardWrapInner {
  position: relative;
  margin: auto;
  width: 80%;
  height: 80%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.cardBack {
  transform: rotateY(180deg);
}

.card {
  display: flex;
  justify-content: center;
}

.fieldEditCardText {
  margin-top: auto;
  margin-bottom: auto;
}

.buttonEditCard {
  position: absolute;
  top: 0;
  left: 0;
}

.buttonRemoveCard {
  position: absolute;
  top: 0;
  right: 0;
}

.buttonEditCard {
  position: absolute;
  top: 0;
  left: 0;
}

.buttonRemoveCard {
  position: absolute;
  top: 0;
  right: 0;
}

#footer {
  height: 15%;
  border-top: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
