@media only screen {
  * {
    scroll-behavior: smooth;
    font-family: Calibri, "Gill Sans", "Gill Sans MT", "Trebuchet MS",
      sans-serif;
    color: black;
    touch-action: manipulation;
  }

  *:not(#content *) {
    overflow: hidden;
  }

  html {
    display: flex;
    justify-content: center;
    width: 100%;
    height: -webkit-fill-available;
  }

  body {
    display: flex;
    flex-basis: 80vh;
    flex-direction: column;
    min-height: 100vh;
    min-height: -webkit-fill-available;
    margin: 0 auto;
  }

  #header {
    border-bottom: 1px solid black;
    display: flex;
    flex-direction: column;
    height: 26%;
    width: 100%;
  }

  #content {
    height: 61%;
    border-width: 0 1px 0 1px;
    border-style: solid;
  }

  #footer {
    align-items: center;
    border-top: 1px solid black;
    display: flex;
    height: 13%;
    gap: 6.25%;
    justify-content: space-around;
  }

  /* header */

  #decksSettings {
    border-bottom: 1px solid black;
    display: flex;
    gap: 6.25%;
    height: 54%;
    justify-content: space-around;
  }

  #deckSection {
    align-items: center;
    display: flex;
    height: 46%;
    overflow-x: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    scroll-snap-type: x mandatory;
    width: 100%;
  }

  #deckSection::-webkit-scrollbar {
    /* WebKit */
    height: 0;
    width: 0;
  }

  /* header > decksSettings */

  .setting {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 25%;
  }

  .settingsButton {
    background-color: white;
    border-radius: 8px;
    border: 2px solid black;
    text-decoration: none;
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    padding: 0;
  }

  .settingsButton span {
    font-weight: bold;
    text-align: center;
    width: 70%;
  }

  .settingsIcon {
    border-left: 2px solid black;
    padding-left: 2.5%;
    padding-right: 2.5%;
    width: 35%;
    height: 100%;
  }

  #iconTheme {
    content: url("./svg/paint-palette-svgrepo-com.svg");
  }

  #iconAddDeck {
    content: url("./svg/card-stack-plus-svgrepo-com.svg");
  }

  #iconRemoveDecks {
    content: url("./svg/trash-icon.svg");
  }

  #iconFinishRemoveDecks {
    content: url("./svg/trash-open-lid-icon.svg");
  }

  /* header > deckSection */

  .deckButton {
    background-color: white;
    background-size: 100% 100%;
    border: 2px solid black;
    border-radius: 8px;
    flex-shrink: 0;
    height: 70%;
    width: 25%;
    margin-left: 6.25%;
    display: flex;
    align-items: center;
    padding: 0;
  }

  .deckButton > span {
    text-overflow: ellipsis;
    font-weight: bold;
    text-align: center;
    width: 70%;
  }

  .deckButton > img {
    border-left: 2px solid black;
    padding-left: 2.5%;
    padding-right: 2.5%;
    width: 35%;
    height: 100%;
    content: url("./svg/deck.svg");
  }

  .deckButton:last-child {
    margin-right: 6.25%;
  }

  /* content */

  #fieldEditDeckName {
    align-items: center;
    display: flex;
    height: 20%;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 70%;
  }

  #fieldEditDeckName > p {
    font-size: 150%;
    font-weight: bold;
    padding: 0 2% 0 2%;
    text-align: center;
    border-width: 1px;
  }

  #fieldCards {
    display: flex;
    height: 80%;
    overflow-x: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    scroll-snap-type: x mandatory;
  }

  #fieldCards::-webkit-scrollbar {
    /* WebKit */
    height: 0;
    width: 0;
  }

  #leftArrow,
  #rightArrow {
    background-color: transparent;
    top: 49%;
    position: absolute;
    display: none;
    visibility: hidden;
    z-index: 1;
  }

  #leftArrow {
    border-color: transparent black transparent transparent;
    border-width: 2rem 2rem 2rem 0;
    left: 31%;
  }

  #rightArrow {
    border-color: transparent transparent transparent black;
    border-width: 2rem 0 2rem 2rem;
    right: 18%;
  }

  .cardWrap {
    display: relative;
    height: 100%;
    min-width: 100%;
    perspective: 1000px;
    scroll-snap-align: start;
  }

  .cardWrapInner {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    height: 80%;
    margin: auto;
    position: relative;
    transition: transform 0.4s;
    transform-style: preserve-3d;
    width: 80%;
  }

  .card {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    height: 100%;
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .colorCircle {
    width: 7%;
    height: 7%;
    margin-bottom: 2%;
    border-radius: 50%;
    position: absolute;
    display: none;
    left: 0px;
    bottom: 0px;
    animation-duration: 0.5s;
  }

  @keyframes colorMoveRed {
    0% {
      left: 0px;
      bottom: 0px;
    }
    100% {
      left: 13%;
      bottom: 0px;
    }
  }

  @keyframes colorMoveOrange {
    0% {
      left: 0px;
      bottom: 0px;
    }
    100% {
      left: 26%;
      bottom: 0px;
    }
  }

  @keyframes colorMoveYellow {
    0% {
      left: 0px;
      bottom: 0px;
    }
    100% {
      left: 39%;
      bottom: 0px;
    }
  }

  @keyframes colorMoveGreen {
    0% {
      left: 0px;
      bottom: 0px;
    }
    100% {
      left: 52%;
      bottom: 0px;
    }
  }

  @keyframes colorMoveLightBlue {
    0% {
      left: 0px;
      bottom: 0px;
    }
    100% {
      left: 65%;
      bottom: 0px;
    }
  }

  @keyframes colorMoveIndigo {
    0% {
      left: 0px;
      bottom: 0px;
    }
    100% {
      left: 78%;
      bottom: 0px;
    }
  }

  @keyframes colorMoveViolet {
    0% {
      left: 0px;
      bottom: 0px;
    }
    100% {
      left: 91%;
      bottom: 0px;
    }
  }

  .cardBack {
    transform: rotateY(180deg);
  }

  .fieldEditCardText {
    max-width: 100%;
    margin-bottom: auto;
    margin-top: auto;
    white-space: initial;
  }

  .fieldEditCardText > p {
    max-width: 100%;
    text-align: center;
    word-wrap: break-word;
  }

  .buttonEditCard,
  .buttonRemoveCard,
  .buttonColorCard {
    background-repeat: no-repeat;
    background-color: inherit;
    position: absolute;
    border: none;
    width: 9%;
    height: 11%;
    background-size: 100% 100%;
  }

  .buttonEditCard {
    top: 0;
    background-image: url("svg/edit-button-svgrepo-com.svg");
    left: 0;
  }

  .buttonRemoveCard {
    top: 0;
    background-image: url("svg/x-symbol-svgrepo-com.svg");
    right: 0;
  }

  .buttonColorCard {
    bottom: 0;
    left: 0;
    background-image: url("svg/paint-palette-svgrepo-com.svg");
  }

  /* footer */

  .footerButton {
    background-color: white;
    width: 25%;
    height: 50%;
    border-radius: 8px;
    border: 2px solid black;
    display: flex;
    align-items: center;
    padding: 0;
  }

  .footerButton span {
    font-weight: bold;
    text-align: center;
    width: 70%;
  }

  .footerIcon {
    border-left: 2px solid black;
    padding-left: 2.5%;
    padding-right: 2.5%;
    width: 35%;
    height: 100%;
  }

  #iconImport {
    content: url("svg/import-svgrepo-com.svg");
  }

  #iconAddCard {
    content: url("svg/addCard.svg");
  }

  #iconExport {
    content: url("svg/export-button-svgrepo-com.svg");
  }

  @media screen and (orientation: landscape) {
    body {
      flex-basis: 100vw;
      flex-direction: row;
    }

    #header {
      border-left: 1px solid black;
      border-bottom: none;
      border-right: 1px solid black;
      flex-direction: row;
      height: 100%;
      width: 31%;
    }

    #content {
      height: 100%;
      width: 51%;
      border-width: 1px 0px 1px 0px;
    }

    #footer {
      flex-direction: column;
      border-top: none;
      border-left: 1px solid black;
      border-right: 1px solid black;
      height: 100%;
      width: 18%;
    }

    /* header */

    #decksSettings {
      border-bottom: none;
      border-right: 1px solid black;
      flex-direction: column;
      align-items: center;
      width: 54%;
      height: 100%;
    }

    #deckSection {
      height: 100%;
      flex-direction: column;
      overflow-x: none;
      overflow-y: scroll;
      scroll-snap-type: y mandatory;
      width: 46%;
    }

    /* header > decksSettings */

    .setting {
      justify-content: center;
      height: 30%;
      width: 80%;
    }

    /* header > deckSection */

    .deckButton {
      height: 18%;
      width: 80%;
      margin-left: 0%;
      margin-top: 18%;
      display: flex;
      align-items: center;
      padding: 0;
    }

    .deckButton > span {
      width: 70%;
    }

    .deckButton:last-child {
      margin-right: 0%;
      margin-bottom: 18%;
    }

    /* footer */

    .footerButton {
      width: 75%;
      height: 15%;
    }
    @media only screen and (min-width: 64.063em) {
      #leftArrow,
      #rightArrow {
        display: inline-block;
      }
    } /* min-width 1025px, large screens */
  }
} /* Define mobile styles - Mobile First */
